/* (min-width: 992px) */

.nav-mobile {
    display: none;
}

.nav-desktop {
    display: block;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    font-size: 0;
}

.nav-desktop li {
    display: block;
    width: 250px;
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

.nav-desktop li a {
    width: 200px;
    padding: 20px 75px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    transition: color .3s, background-color .3s;
}

.nav-desktop li a:hover{
    color: rgb(0, 140, 255)
}

/* HEADER */
.header-img{
    background-image: url(../img/header/train-62849_1920.jpg);
    background-position: center 80%;
}

/* MAIN */

.main-product {
    width: 50%;
}
