/* @media (min-width: 768px){
    
} */

.header-img{
    background-image: url(../img/header/train-62849_1280.jpg);
    /* background-position: center%; */
    background-position: 80% 75%;
}

.header-text h1 {
    font-size: 44px;
}

.header-text p {
    font-size: 20px;
}

/* MAIN */

