* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, rgba(9, 49, 121, 0.04) 75%, rgba(194, 192, 192) 95%);
}

.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.text-align-center {
    text-align: center;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

nav {
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    overflow: hidden;
    z-index: 2;
}

.nav-mobile {
    margin-right: 100%;
}

.nav-mobile button{
    padding: 0 30px;
    background: none;
    border: none;
    font-size: 30px;
}

.nav-desktop {
    display: none;
}


/* HEADER */

.header-img{
    position: relative;
    height: 330px;
    width: 100%;
    background-image: url(../img/header/train-62849_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.header-text h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-text h1 span {
    color:rgb(0, 140, 255)
}

/* MAIN */

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.wrapper .font-size-h2 {
    margin: 40px 0;
    font-size: 30px;
}

.box-around-h2 {
    position: relative;
}

.box-around-h2 .h2-underline {
    position: absolute;
    left: calc(50% - 30px);
    bottom: -5px;
    width: 60px;
    height: 3px;
    background-color: rgb(0, 140, 255);
}
.wrapper p {
    margin:0 20px 20px;
    font-size: 16px;
}

.products {
    font-size: 0;
}

.main-product {
    display: inline-block;
    position: relative;
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.main-product:hover .product-text h3 {
    transform: scale(1.2);
}

.first-product {
    background-image: url(../img/header/train-62849_640.jpg);
}

.second-product {
    background-image: url(../img/header/train-62849_640.jpg);
}

.third-product {
    background-image: url(../img/header/train-62849_640.jpg);
}

.fourth-product {
    background-image: url(../img/header/train-62849_640.jpg);
}

.product-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.product-text h3 {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 25px;
    transition: transform .3s;
    cursor: pointer;
}

/* CONTACT */
.contact {
    text-align: center;
    margin-bottom: 40px;
}

.contact i {
    font-size: 30px;
}

.in-line-block{
    display: inline-block;
}
.contact .contact-details {
    text-transform: uppercase;
    font-size: 20px;
}

/* FOOTER */
.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 10px;
    background-color: rgb(192, 192, 192);;
}

@media (min-width: 400){
    .header-text p {
        font-size: 20px;
    }
}